# Включаем модуль перезаписи URL (RewriteEngine), который позволяет использовать правила перенаправления.
RewriteEngine On

# Правило перезаписи URL: (.*) означает, что будет перенаправлен любой URL,
# а "public/$1" указывает Apache использовать public/ в качестве префикса для всех запрошенных ресурсов.
# $1 представляет собой переменную, содержащую все, что находится за именем домена в URL.
RewriteRule (.*) public/$1
