# Включаем модуль перезаписи URL (RewriteEngine), который позволяет использовать правила перенаправления.
RewriteEngine On

# Проверяем условие: %{REQUEST_FILENAME} !-f
# Это условие проверяет, что запрашиваемый файл не существует на сервере (!-f - отрицание проверки наличия файла).
RewriteCond %{REQUEST_FILENAME} !-f

# Применяем правило перенаправления URL: (.*) означает, что будем перенаправлять все URL,
# index.php используется в качестве целевого файла для всех запросов.
# $1 представляет собой переменную, содержащую все, что находится после имени домена в URL.
# [L] - означает, что это последнее правило, которое будет применено.
# [QSA] - означает, что Apache будет добавлять строки запроса к перенаправляемому URL, если они присутствуют.
RewriteRule (.*) index.php?$1 [L,QSA]